*, ::after, ::before {
    box-sizing: border-box;
}

:root {
    --white: rgb(255, 255, 255);
    --graphite: rgb(53,53,53);
    --stormy-teal: rgb(60,110,113);
    --dust-grey: rgb(217,217,217);
    --yale-blue: rgb(40,75,99);
}

body {
    background-color: var(--graphite);
    font-family: "DM Sans", sans-serif;
    display: flex;
    justify-content: center;
    margin: 0;
    padding-top: 5%;
}

#title {
    color: var(--stormy-teal);
}

#todo-app {
    width: 90%;
    border-radius: 1%;
    box-shadow: 0 0 0.1em 0.1em var(--graphite);
    background-color: var(--dust-grey);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 5% 3% 5%;
}

#tasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#btn-clear {
    align-self: flex-end;
    margin-right: 3.8%;
    padding: 0.7% 1%;
    border-radius: 5%;
    font-size: 1.1em;
    flex: 1;
}

#btn-add {
    align-self: flex-end;
    text-align: center;
    border-radius: 8%;
    font-size: 1.6em;
    flex: 0.06;
}

button {
    font-family: "DM Sans", sans-serif;
    background-color: var(--stormy-teal);
    border: 1px solid grey;
    color: var(--dust-grey);
    font-size: 1em;
    font-weight:bold;
    cursor: pointer;
}

input[type="text"] {
    font-family: "DM Sans", sans-serif;
    height: 2.2em;
    font-size: 1em;
    background-color: var(--white);
    border-radius: 3%;
    border: 1px solid var(--yale-blue);
    flex: 0.9;
}

input[type="text"]:focus {
    outline: none;
    border: 1.3px solid var(--yale-blue);
}

#input-container {
    display: flex;
    align-items: flex-start;   
    gap: 1%;              
}

.task {
    height: 2.2em;
    font-size: 1em;
    background-color: var(--white);
    border-radius: 3%;
    border: 1px solid var(--yale-blue);
    display: flex;
    align-items: center;
}

.done {
    text-decoration: line-through var(--stormy-teal) 13%;
}

.task-container {
    display: flex;
    align-items: center;   
    gap: 1%;              
}

.chbox {
    appearance: none;
    height: 37px;
    border: 1px solid var(--yale-blue);
    border-radius: 80%;
    flex: 1;
}

.chbox:checked::after {
    content: "✓";
    color: var(--stormy-teal);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
}

.material-icons {
    border: 1px solid grey;
    border-radius: 5%;
    background-color: var(--stormy-teal);
    font-size: 1.9em;
}

