*, ::after, ::before {
    box-sizing: border-box;
}

:root {
    --white: rgb(255, 255, 255);
    --graphite: rgb(53,53,53);
    --stormy-teal: rgb(60,110,113);
    --dust-grey: rgb(217,217,217);
    --yale-blue: rgb(40,75,99);
    --orange-like: rgb(238,150,75);
}

body {
    background-color: var(--graphite);
    font-family: "DM Sans", sans-serif;
    display: flex;
    justify-content: center;
    margin: 0;
    padding-top: 5%;
}

#title {
    color: var(--stormy-teal);
}

#todo-app {
    width: 90%;
    border-radius: 1%;
    box-shadow: 0 0 0.1em 0.1em var(--graphite);
    background-color: var(--dust-grey);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 5% 3% 5%;
}

#tasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#btn-clear {
    align-self: flex-end;
    font-size: 1.1em;
}

#btn-clear button {
    background-color: var(--graphite);
}

#btn-add {
    text-align: center;
    font-size: 1.6em;
}

button {
    background-color: var(--stormy-teal);
    font-family: "DM Sans", sans-serif;
    border: 1px solid grey;
    color: var(--white);
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
}

input[type="text"] {
    font-family: "DM Sans", sans-serif;
    height: 2.2em;
    font-size: 1em;
    background-color: var(--white);
    border-radius: 5px;
    border: 1px solid var(--yale-blue);
    flex-grow: 1;
}

input[type="text"]:focus {
    outline: none;
    border: 1.3px solid var(--yale-blue);
    padding-left: 5px;
}

#input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;   
    gap: 8px;              
}

.task {
    height: 2.2em;
    font-size: 1em;
    background-color: var(--orange-like);
    color: var(--white);
    border-radius: 5px;
    border: 1px solid var(--yale-blue);
    display: flex;
    align-items: center;
    padding-left: 5px;
    flex-grow: 1;
}

.done {
    text-decoration: line-through var(--white) 13%;
}

.task-container {
    display: flex;
    align-items: center;   
    justify-content: space-between;   
    gap: 8px;          
}

.chbox {
    appearance: none;
    height: 35px;
    border: 1px solid var(--yale-blue);
    border-radius: 50%;
    flex: 0.15;
    cursor: pointer;
    background-color: var(--orange-like);
}

.chbox:checked::after {
    content: "✓";
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.9em;
}

.material-icons {
    border: 1px solid grey;
    border-radius: 3px;
    background-color: var(--stormy-teal);
    font-size: 1.5em;
}

